
<h2><%= @contrib[:first] %>,<br />
Thank you for your $<%= @contrib[:amount] %> donation to WUP Rise / 4 the Kids!</h2>
<p>We cannot begin to tell you how much we appreciate your donation. Just know that we will put this money to good use in educating and keeping the local kids of the Western Upper Peninsula (UP) healthy and active.</p>

<p>At the same time, I personally appreciate you taking the time to view my software developer portfolio. If you are interested in having a conversation about how I might be able to become a co-worker / team member at your company please reach out anytime.</p>

<p>Also, if you see something in the portfolio that could be just a bit better to raise the likelyhood of being considered, that information would be greatly appreciated.</p>

<p>Click <%= link_to('here', "/#") %> to send an email to someone else that you think might be interested in donating to a great cause.</p>

<p>-or-</p>

<p>Click <%= link_to('here', "/#") %> to send an email to someone that you think may be interested in taking a look at my portfolio and resume to further discuse my coming aboard as a developer.</p>

<p>Thanks again,</p>
<p>Peter Koruga</p>
<p>(906) 662-4859</p>