<h1 class="quick head">Resume</h1>
<div id="experience" class="category">
    <h2 class="quick">Experience</h2>
    <div class="category-item">
        <h3>Indianhead Valley Condos Fullstack</h3>
        <p class="intro">Online availability and booking on the front end and all of the RMS functionality in the back end. The app uses Parseplatform API and Server for data storage and user admin (currently refactoring to use AWS). It is capable of managing all aspects of a family owned lodging facility. Which includes creating, reading, updating and deleting guests, reservations, payments and other financial/bookkeeping/sales data. Payment processing via the Stripe API. Visual reservation calendar for 13 units.</p>
    </div>
    <div class="category-item">
        <h3>Indianhead Valley Condos iOS Admin App</h3>
        <p class="intro">All of the functionality of the back end of the website including Stripe payments.</p>
    </div>
    <div class="category-item">
        <h3>5 Current iOS Apps</h3>
        <ul>
            <li>Crime Scene Evidence Marker (Tableview manipulation and Location Service)</li>
            <li>Simple Schedule Viewer (EventKit)</li>
            <li>Crime Scene Identifier Card </li>
            <li>Blood Spatter Angle Calculator</li>
            <li>Blood Spatter Angle Calculator Pro (CloudKit)</li>
        </ul>
    </div>
    <div class="category-item">
        <h3>IoT Projects</h3>
        <p class="intro">IoT projects have become my fun little hobby. Yet they still lend to my knowledge of developing and technology.  Most of the projects have either a companion iOS app or a web app to control them. The newest challenge was designing and etching a homebuilt custom PCB.</p>
        <ul>
            <li>Indianhead Valley Condos temperature sensors and lighting control and app</li>
            <li>Electric line voltage smart thermostat and app</li>
            <li>Turtle tank lighting and heat controller</li>
            <li>Wifi garage door opener and app (Custom PCB)</li>
        </ul>
    </div>
</div>
<div id="languages" class="category">
    <h2 class="quick">Languages</h2>
    <p class="intro">Builing all of these project myself has pushed me to learn a number of different languages to complete the projects.</p>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>JQuery</li>
        <li>Swift</li>
        <li>Objective-C</li>
        <li>PHP</li>
        <li>Ruby</li>
        <li>Rails</li>
        <li>React</li>
        <li>C++ (Wiring)</li>
        <li>Python</li>
        <li>SQL</li>
    </ul>
</div>
<div id="certificates" class="category">
    <h2 class="quick">Certificates from Lynda.com and LinkedIn</h2>
    <ul>
        <li>Learning React.js</li><li>Learning Server-Side Swift with Vapor</li><li>Accounting Foundations: Bookkeeping</li><li>Learning Video Production and Editing</li><li>Finance Essentials for Small Business</li><li>Accounting Foundations</li><li>Bootstrap 3 Essential Training</li><li>jQuery Essential Training</li><li>Validating and Processing Forms with Javascript and PHP</li><li>InDesign CS5: Print Production Guidelines</li><li>Swift Essential Training</li><li>Distributing iOS Applications Through the App Store</li><li>Learning Python</li><li>SQL Essential Training</li>
    </ul>
</div>
<div id="education" class="category">
    <h2 class="quick">Education</h2>
    <div class="category-item">
        <p class="intro">Bachelors of Science in Business from Northern Michigan University 2005</p>
    </div>
</div>