<h1>Projects</h1>

<% @projects.each do |project| %>
    <div class='project'>
        <div class='project-title'><%= project.title %></div>
        <div class="project-tech">
            <% project.teches.each do |tech| %>
                <div class="tech-item"><%= tech.name %></div>
            <% end %>
        </div>
        <%= link_to('Edit' edit_project_path(project.id))%>
    </div>
<% end %>

