body {
    display: grid;
    grid-template-columns: 20% 80%;
}

#nav {
    display: grid;
    grid-template-rows: 50px 30px auto;
}

ul {
    text-align: center;
    padding-inline-start: 0px;
}

li :hover {
    background-color: purple;
}

li {
    list-style-type: none;
    margin: 35px;
    text-align: center;
    
}

li a {
    color: green;
    text-decoration: none;
}

li a.active {
    color: grey;
}

#main {
    display: grid;
}